{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'reg.css' %}">
<body>
<h1>Hotel and Rating Entry Form</h1>

<form action="" method="post">
  {# prevents cross site request forgeries #}
  {% csrf_token %} 
  Hotel:
  <input type="text" name="name" />
  Rating:
  <input type="number" name="rating" />
  <input type="submit" value="Submit" />
<br><br>
</form>
  <table border="1">
    <th>ID</th><th>Hotel</th><th>Rating</th>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
  </table>
 
</body>
    
</html>